body {
    background-image: url('back.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    
}
/* .card-body{
    background-image: url('log.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
} */